
body{
    background-size: cover;
    background-color: #0E2A47;
    font-family: monospace, sans-serif;
    color: #5DD9D7;
}

*{
    margin: 0px;
    padding: 0px;
}
header{
    border-bottom: 2px solid black;
    display: block;
    text-align:center;
    background-color: #0E2A47;
    color: #5DD9D7;
}
footer{
    background-color: #0E2A47;
    padding: 8px;
    color: #5DD9D7;
    margin-top: 0%;
    border-top: 2px solid black;
  }
.creditos{
    display: inline;
    margin-left: 30%;
}
.fundo{
    display: inline;
    margin-left: 0%;
}
.portifolio{
    display: inline;
    margin-left: 34%;
    color: #5DD9D7;
}
a{
    color: #5DD9D7;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
   }
