
body{
    background-color: #0E2A47;
    font-family: monospace, sans-serif;
    color: #5DD9D7;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    border-bottom: 2px solid black;
    height: 9vh;
    display: flex;
    flex-flow: column wrap;
    text-align:center;
    background-color: #0E2A47;
    color: #5DD9D7;
    flex-grow: 1;
}
footer{
    padding: 3px;
    height: 2vh;
    display: flex;
    justify-content: space-between;
    background-color: #0E2A47;
    color: #5DD9D7;
    border-top: 2px solid black;
}

a{
    color: #5DD9D7;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1{
    text-align: center;
}
::placeholder{
    opacity: 70%;
}
form{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-size: large;
    gap: 5px;
}
.principal{
    width: 100vw;
    height: 87vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-size: large;
    gap: 5px;
}
div{
    display: flex;
}
.teste{
    flex-grow: 1;
    margin-left: 2px;
}