
body{
    background-size: cover;
    background-color: #0E2A47;
    font-family: monospace, sans-serif;
    color: #5DD9D7;
}

*{
    margin: 0px;
    padding: 0px;
}
header{
    border-bottom: 2px solid black;
    display: block;
    text-align:center;
    background-color: #0E2A47;
    color: #5DD9D7;
}
footer{
    padding: 2px;
    display: flex;
    justify-content: space-between;
    background-color: #0E2A47;
    color: #5DD9D7;
    border-top: 2px solid black;
  }

a{
    color: #5DD9D7;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
   }
h1{
    text-align: center;
}
::placeholder{
    opacity: 70%;
}
form{
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: large;
    gap: 5px;
}